{% load static %}
{% if form.errors %}
<div class="position-fixed top-0 end-0 p-3">
    <div class="toast align-items-center show" role="alert" id="myToast" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {% for field in form %}
                {% for error in field.errors %}
                <strong>{{ error|escape }}</strong>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <strong>{{ error|escape }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endif %}
{% if messages %}
<div class="position-fixed top-0 end-0 p-3">
    <div class="toast align-items-center show" role="alert" id="myToast" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {% for message in messages %}
                <strong>{{ message|safe }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endif %}
<div class="position-fixed top-0 end-0 p-3">
    <div class="toast align-items-center" role="alert" id="myToast" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {% for message in messages %}
                <strong>{{ message|safe }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>