{% load static %}
<div class="container py-5 mx-auto" id="main-chat-container" chat="{{chat.id}}">
    <div class="flex flex-col border shadow-sm rounded-xl mx-5 justify-center">
        <div class="border-b rounded-t-xl py-3 px-4 md:py-4">
            <div class="flex items-center justify-between ">
                <div class="flex items-center">
                    {% if request.user.profile %}
                    <img class="rounded-full me-3 object-cover w-8 h-8" src="{{request.user.profile.url}}" width="48"
                        alt="Avatar">
                    {% else %}
                    <img class="rounded-full me-3 object-cover" src="{% static 'img/profile.jpg' %}" width="48"
                        alt="Avatar">
                    {% endif %}
                    <h3 class="text-lg font-bold capitalize">
                        {{request.user}}
                    </h3>
                </div>
                <div class="flex items-center justify-center space-y-6">
                    <div class="flex cursor-pointer" onclick="online_users_modal.showModal()">
                        {% if online %}
                        {% if online.count == 1 %}
                        {% if user.profile %} <img class="w-8 h-8 object-cover rounded-full border-2"
                            src="{{user.profile.url}}" alt="">
                        {% else %}
                        <img class="w-8 h-8 object-cover object-cover rounded-full border-2"
                            src="{% static 'img/profile.jpg' %}" alt="">
                        {% endif %}
                        {% else %}
                        {% for user in online %}
                        {% if forloop.counter < 4 %} {% if user.profile %} <img
                            class="w-8 h-8 object-cover rounded-full border-2 -ml-3" src="{{user.profile.url}}" alt="">
                            {% else %}
                            <img class="w-8 h-8 object-cover rounded-full border-2 -ml-3"
                                src="{% static 'img/profile.jpg' %}" alt="">
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% if online.count > 4 %}
                            <span
                                class="flex items-center justify-center font-semibold text-gray-600 text-xs w-8 h-8 rounded-full bg-gray-200 border-2 -ml-3">+{{online.count|add:"-3"}}</span>
                            {% endif %}{% endif %}{% endif %}
                    </div>
                </div>
                <div class="flex items-center cursor-pointer">
                    <span class="label-text me-3">Status</span>
                    <input type="checkbox" class="toggle toggle-secondary" {% if request.user.status %}checked="checked"
                        {% endif %} id="updateStatus" />
                </div>
            </div>
        </div>
        <div class="p-4 md:p-5">
            <div class="overflow-y-auto h-parent h-screen" style="scrollbar-width: none;">
                <ul class="space-y-5" id="chatbox">
                    <div id="loadChatsContent">
                        <div class="flex justify-center">
                            {% if chats.has_next %}
                            <div class="has-visited btn btn-primary" id="{{chats.next_page_number}}">Button Load Chats
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% include 'chat/chat-list.html' %}
                </ul>
                <div id="chat-bar-bottom">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="border-t rounded-b-xl py-3 px-4 md:py-4 md:px-5 flex w-full items-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp" alt="avatar 3"
                class="me-2" style="width: 40px; height: 100%;">
            <input type="text" class="input input-bordered input-secondary w-full me-2" id="textInput"
                placeholder="Enter a Message" onkeypress="chatSend(event)">
            <a role="button" class="ms-3 btn btn-secondary" href="javascript:void(0)" onclick="heartButton()">
                <i class="fas text-lg fa-heart"></i>
            </a>
            <a role="button" class="ms-3 btn-primary btn" href="javascript:void(0)" onclick="sendButton()">
                <i class="fas text-lg fa-paper-plane"></i>
            </a>
            <div id="chat-bar-bottom">
                <p></p>
            </div>
        </div>
    </div>
</div>