{% load static %}
{% load custom_tags%}
<ul class="space-y-2 font-medium">
    {% if online %}
    {% for user in online %}
    <li>
        <div class="flex justify-between border items-center mb-3 px-2 py-3 dark:hover:bg-gray-700 rounded-md">
            <div class="flex items-center">
                <a href="{% url 'user-profile' user %}" class="inline-flex items-start">
                    <div class=" flex items-start mr-3">
                        {% if user.profile %}
                        <img class="rounded-full" src="{{user.profile.url}}" width="48" height="48" alt="">
                        {% else %}
                        <img class="rounded-full" src="{% static 'img/profile.jpg' %}" width="48" height="48" alt="">
                        {% endif %}
                    </div>
                    <div class="pr-1 capitalize">
                        {% if user.first_name %}
                        <h2 class="text-xl leading-snug font-bold">{{user.get_full_name}}</h2>
                        {% else%}
                        <h2 class="text-xl leading-snug font-bold">{{user.username}}</h2>
                        {% endif %}
                        {% if user.get_mutual_friends %}
                        <p class="">{{user.get_mutual_friends}}</p>
                        {% else %}
                        <p class="">No Mutual Friends</p>
                        {% endif %}
                    </div>
                </a>
            </div>
            <button class="btn btn-secondary capitalize" onclick="toggleFollowingFollower(event)" id="user-{{user}}">
                {% call_method request.user "is_following" user %}
            </button>
        </div>
    </li>{% endfor %}
    {% else %}
    <li class="alert alert-primary d-flex align-items-center" role="alert">
        <i class="fa fa-info-circle me-2"></i>
        <div>
            No Users Available
        </div>
    </li>
    {% endif %}
</ul>